* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-image: url('./images/bg-project.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 10% auto 7%;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    grid-area: main;
}

.main-container {
    justify-content: space-evenly;
}

.main-container-left {
    padding-left: 2rem;
} 

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    font-style: italic;
    padding: 0 1rem;
}

/* -------------------------------------------------- */
/* NAV */
.logo-website {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    cursor: default;
    text-shadow: 5px 5px 3px #000000;
}

.nav-links {
    display: flex;
    font-size: 1.5rem;
    margin-right: 2rem;
    gap: 6rem;
    text-shadow: 5px 5px 5px #000000; 
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    list-style: none;
}

.nav-links > li > a:hover {
    text-decoration: underline;
    color: #a1748c;
    text-shadow: none;
}

.nav-links > li > a:active {
    text-decoration: underline;
    color: #323352;
}

/* Drop menu */
.drop-menu {
    display: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 300px;
    background: rgb(161, 116, 140, 0.7);
    border-radius: 8px;
    font-weight:bold;
    text-shadow: 3px 3px 3px #323352;
    box-shadow:  0px 0px 10px 2px #3e3c57;
    backdrop-filter: blur(25px);
}

.links-drop-menu > li {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.links-drop-menu > li > a:hover {
    text-decoration: underline;
    color: #323232;
    text-shadow: none;
}

.links-drop-menu > li > a:active {
    text-decoration: underline;
    color: #808080;
}

.toggle-btn, .close-btn {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.drop-menu.active {
    display: block;
}

.close-btn.active {
    display: block;
}

.toggle-btn.active {
    display: block;
}

/* ------------------------------- */
/* PORTFOLIO */

.main-container-portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.container-btn {
    margin-top: 1rem;
}

.profile-picture {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.container-text {
    text-align: center;
    color: #ffffff;
}

.container-text > h1 {
    font-size: 2rem;
}

.container-text > span,
.container-text > h3 {
    color: #323352;
    text-decoration: underline;
    text-shadow: none;
}

.header-text-main {
    text-shadow: 3px 3px 3px #323352;
}

.left-btn {
    background-color: #3e3c57;
}

.right-btn {
    background-color: #785c7b;
}

.left-btn:hover, .right-btn:hover {
    background-color: #808080;
}

.left-btn:active, .right-btn:active  {
    background-color: #1a1a1a;
}

.left-btn, .right-btn {
    padding: 0.5rem;
    border-radius: 50px;  
    border:  2px solid #323352;
    text-shadow: 2px 2px 3px #000000;
    font-weight: bold;
}


/* RESPONSIVENESS NAV/DROPMENU & PROFILE PORTFOLIO 990px */
body {
    @media (max-width: 1300px) {
        .nav-links {
            display: none;
        }
    
        .links-drop-menu > li {
            padding: 1.1rem;
        }
    }

    @media (max-width: 790px) {
        .main-container-portfolio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
        
        .container-profile-picture {
            text-align-last: center;
        }
    
        .drop-menu {
            top: 7rem;
            left: 2rem;
            width: unset;
            /* backdrop-filter: blur(25px); */
        }
    
        .profile-picture {
            width: 290px;
            height: 290px;
        }
    } 
}
/* ----------------------------------------------------------- */

/* LOGIN CSS */

.main-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.login-form {
    background-color: #FFFFFF;
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    box-shadow:  0px 0px 10px 2px #3e3c57;
    border-radius: 5px;
    color: #3e3c57;
    text-align: center;

}

.container-user-password {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-remember-forgot {
    display: flex;
    justify-content: space-between;
}

.container-remember-forgot > a {
    color: #a1748c;
}

.user-with-icon,
.password-with-icon {
    display: flex;
    align-items: center;
    position: relative;
}

/* User and password icon */
.fa-user,
.fa-lock {
    position: absolute;
    left: 1rem; 
    top: 1rem;
    color: #323352;
}

/* Show and hide icon */
.fa-eye-slash,
.fa-eye {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #323352;
}

.username-style,
.password-style {
    width: 100%; 
    padding-left: 2rem; 
    padding: 1rem 4.5rem;
    border: 1px solid #323252;
    border-radius: 5px;
    transition: border-color 0.3s;
    font-weight: bold;

}

.username-style:focus::placeholder,
.password-style:focus::placeholder {
    color: transparent;
}

.username-style:valid,
.password-style:valid,
.username-style:invalid,
.password-style:invalid  {
    padding-left: 2.5rem; 
}

.submit-style {
    background-color: #323352;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;

    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 1px 2px #323352;
    /* box-shadow:  0px 0px 10px 2px #3e3c57; */
}

.submit-style:active {
    background-color: #a1748c; /* Change to the color you want when clicked */
    /* You can also adjust other styles like text color, box-shadow, etc. */
}

.not-a-member > a {
    color: #a1748c;
    text-align: center;
}

/* ----------------------------------------------------- */

/* REGISTRATION */
.registration-form {
    background-color: #FFFFFF;
    height: 500px;
    width: 600px;
    padding: 3rem;
    box-shadow:  0px 0px 10px 2px #3e3c57;
    border-radius: 5px;
    color: #3e3c57;
}

.tab1, .tab2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.tab2 {
    display: none;
}

.registration-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.registration-text-style {
  padding: 1rem 1rem;
  border: 1px solid #323252;
  border-radius: 5px;
  transition: border-color 0.3s;
  font-weight: bold; 
}

.prev-next-btn {
    display: flex;
    gap: 1rem;
}

.prev-btn,
.next-btn,
.submit-btn {
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem;
    width: 8rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 1px 2px #323352;
}

.next-btn,
.submit-btn {
    background-color: #323352;
}

.prev-btn {
    background-color: #a1748c;
}

/* . RESPONSIVENESS LOGIN/REGISTRATION */
body {
    @media (max-width:750px) { 
        .login-form,
        .registration-form {
            width: 70%;
        }
    }
}

/* ---------------------- HOME ----------------------*/
.main-container-home {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

/* ---------------------- PROFILES ---------------------- */
.main-container-profiles {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    padding-left: 2rem;
}

/* ---------------------- MY ACCOUNT ---------------------- */
.main-container-my-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}

.my-account-form {
    background-color: #FFFFFF;
    height: 650px;
    width: 800px;
    box-shadow:  0px 0px 10px 2px #3e3c57;
    border-radius: 5px;
    color: #3e3c57;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: 
    'aside-my-account section-my-account';
}

.aside-my-account {
    grid-area: aside-my-account;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow:  0px 0px 10px 2px #3e3c57;
    border-radius: 5px;
}

.nav-aside-my-account {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.nav-aside-my-account > li {
    font-weight: bold;
    text-decoration: underline; 
    text-align: center;  
}

.nav-aside-my-account > li > a {
    color: #3e3c57;
}

.data-my-account {
    grid-area: section-my-account;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.data-my-account > label {
    align-self: flex-start;
    margin-left: 4rem;
}

.data-my-account > input {
    padding: 1rem;
    width: 70%;
}

.session-message {
    position: absolute;
    top: 7rem;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
}

/* MY ACCOUNT PROFILE */
#change-profile-picture {
    width: 200px;
    height: 200px;
    border: 1px solid #323352;
    border-radius: 50%;
}

.container-label-input-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem; 
}


/*  RESPONSIVENESS MY ACCOUNT */
body {
    @media (max-width:850px) { 
        .my-account-form {
            width: 80%
        }
        
        .data-my-account > label {
            align-self: flex-start;
            margin-left: 8%;
        }
    }
}